[Unit]
Description=Supervisor
After=network.target

[Service]
Type=forking
EnvironmentFile=-/etc/sysconfig/supervisord
ExecStart=/usr/bin/supervisord -c /etc/supervisord.conf

[Install]
WantedBy=multi-user.target